body {
    font-family: 'Montserrat', sans-serif;
    font-size: $base-fsz;
    color: $white;
}

.container {
    @include min-max(320px, 100%, 0);
}

.wrap {
    @include min-max(320px, 100%, 47px);
}
