@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* @font-face {
    font-family: 'Avenir Next Pro';
    src: url('./../fonts/avenir-next-pro/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Regular.woff') format('woff'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Pro';
    src: url('./../fonts/avenir-next-pro/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Medium.woff') format('woff'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Medium.eot') format('embedded-opentype'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Pro';
    src: url('./../fonts/avenir-next-pro/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Bold.woff') format('woff'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Bold.eot') format('embedded-opentype'),
        url('./../fonts/avenir-next-pro/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
*/