.features {
    .features__title {
        font-weight: bold;
        line-height: normal;
        font-size: 40px;
        text-align: center;
        color: $dark-gray;
        padding-top: 81px;
        margin: 0;
    }

    .features__description {
        font-weight: normal;
        line-height: 23px;
        text-align: center;
        color: $gray;
        max-width: 718px;
        margin: auto;
        padding: 27px 25px 0 25px;
    }

    .blocks {
        display: flex;
        justify-content: center;
        padding-top: 80px;
        flex-wrap: wrap;
        width: 1250px;
        margin: 0 auto;

        .block {
            width: 400px;
            height: 418px;
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-right: 0;
            }

            .block__img {
                margin-left: 60px;
            }

            .block__title {
                font-weight: bold;
                line-height: normal;
                font-size: $block-title;
                text-align: center;
                color: $black;
                padding-top: 40px;
            }

            .block__description {
                font-weight: normal;
                line-height: 23px;
                text-align: center;
                color: $gray;
                max-width: 299px;
                margin: 0 auto;
                padding-top: 32px;
            }
        }
    }
}

@media (max-width: 976px) {
    .features {
        .blocks {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .block {
                width: 320px;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 725px) {
    .features {
        .features__description {
            max-width: 530px;
        }
    }
}

@media (max-width: 600px) {
    .features {
        .features__title {
            padding-top: 35px;
            font-size: 32px;
        }

        .features__description {
            max-width: 450px;
            padding: 16px 20px 0 20px;
        }

        .blocks {
            padding-top: 37px;

            .block {
                .block__title {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .features {
        .features__description {
            max-width: 350px;
        }
    }
}

@media (max-width: 370px) {
    .features {
        .features__description {
            max-width: 300px;
        }

        .blocks {
            .block {
                .block__description {
                    padding: 32px 23px 0 23px;
                }
            }
        }
    }
}
