.footer {
    height: 69px;
    background: $footer-bg;
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    .footer__copyright {
        font-weight: normal;
        line-height: 18px;
        font-size: $second-fsz;
        align-self: center;
    }

    .footer__logo {
        padding-top: 8px;
        display: flex;
        align-self: baseline;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 0 20px;
        margin-top: 36px;
    }
}
