.header {
    background: url('../img/bg.jpg') top center no-repeat;
    background-size: cover;
    height: 800px;

    .section-top-header {
        padding-top: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .openbtn {
            cursor: pointer;
            background: transparent;
            border: none;
        }
    }

    .section-top__info {
        margin-top: 255px;
        margin-left: 319px;
    }

    .info {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 21px;
        font-size: $second-fsz;
        line-height: $second-lh;

        .contact {
            margin-right: 46px;

            .contact__number {
                font-weight: bold;
            }
        }
    }

    .languages {
        text-transform: uppercase;

        .languages__title {
            margin-right: 6px;

            a {
                color: $white;
                transition-duration: 300ms;
                transition-property: color, border-bottom-color;

                &:hover {
                    color: $menu-hover;
                    border-bottom-color: $menu-hover;
                }
            }
        }

        .languages__title__selected {
            font-weight: bold;
            border-left: 1px solid;

            a {
                color: $white;
                transition-duration: 300ms;
                transition-property: color, border-bottom-color;
                margin-left: 10px;

                &:hover {
                    color: $menu-hover;
                    border-bottom-color: $menu-hover;
                }
            }
        }
    }

    .welcome {
        font-weight: bold;
        line-height: 110px;
        font-size: 90px;
    }

    .description {
        font-weight: normal;
        line-height: 28px;
        font-size: 48px;
        margin-top: 17px;
    }
}

@media (max-width: 1150px) {
    .header {
        .section-top__info {
            flex-basis: 100%;
            text-align: center;
            margin-left: 0;
        }
    }
}

@media (max-width: 976px) {
    .header {
        .section-top-header {
            flex-wrap: wrap;

            .section-top__logo {
                flex-basis: 100%;
                text-align: center;
            }

            .section-top__menu {
                flex-basis: 100%;
                padding-top: 25px;
            }
        }
    }
}

@media (min-width: 814px) {
    .icon-menu {
        display: none;
    }
}

@media (max-width: 814px) {
    .header {
        .section-top-header {
            flex-wrap: nowrap;

            .section-top__logo {
                display: flex;
                justify-content: space-between;
            }

            .section-top__menu {
                display: none;
            }
        }
    }
}

@media (max-width: 740px) {
    .header {
        .section-top__info {
            .welcome {
                font-size: 70px;
            }

            .description {
                font-size: 40px;
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        height: 0%;
        
        .wrap {
            padding: 0 20px;

            .section-top-header {
                .logo {
                    max-width: 100px;
                }
            }

            .section-top__info {
                margin: 140px 0 140px 0;

                .welcome {
                    font-size: 55px;
                }

                .description {
                    font-size: 35px;
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .header {
        .wrap {
            .section-top__info {
                .welcome {
                    font-size: 50px;
                }

                .description {
                    font-size: 30px;
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 342px) {
    .header {
        .wrap {
            .section-top__info {
                .welcome {
                    font-size: 45px;
                }

                .description {
                    font-size: 27px;
                    margin-top: 0;
                }
            }
        }
    }
}
